

{% macro render_field(field) %}
<div class="field">
    <label class="label has-text-light is-medium">{{ field.label }}</label>

    {% if field.type == 'TextAreaField' %}
        {% set x=kwargs.__setitem__("class_", "textarea is-medium") %}
    {% else %}
        {% set x=kwargs.__setitem__("class_", "input is-medium") %}
    {% endif %}


    <div class="control">
        {{ field(**kwargs)|safe }}
    </div>

    <ul class="help is-danger">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
    </ul>
</div>
{% endmacro %}
